  
<div class="row">
	<div class="large-12 columns">
  <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
      <p class="banner"><%=image_tag("banner.png")%></p>
    </div>
  </div>
  
  <!-- End Nav and Banner -->
  
  
  <!-- Main Content Section -->
  
  <div class="row">
  
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
    </div>
    
    <div class="large-4 columns">
    
      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
      
    <div class="panel">
    	<h4><em>Excellence In Motion</em></h4>

    	<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

    </div>
        
  </div>
  
  
  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get a Quote</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Check out are Service App!</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Get a Quote</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
