
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}



header{
	width: 100%;
	top: 0;
	left: 0;
	background: #34495E;
	position: relative;
	height: 75px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 3px #aaa;
}

.header_container{

	width: 1000px;
	height: 75px;

	margin-left: auto;
	margin-right: auto;
}

.navi{
	width: 425px;
	margin-left: 20%;
    position: relative;
   padding-top: 30px;
   float: left;

}


.phone{
	width: 266px;
	margin-left: 1%;
    position: relative;
   padding-top: 30px;
   float: right;

}


.phone_small{
	display: none;
}

.phone p{
	color: white;
	font-weight: bold;
}



.top-bar-section ul{

    margin-left:5%;

}



.promo{

	color: maroon;
	margin-top: 50px;

}

.wrapper{
	min-height: 100%;
	position: relative;
}

.content{

	padding: 10px;
	padding-bottom: 230px;

	
}


.wide{
	width: 100%;
	position: absolute;
	height: 230px;
	background-color: #34495E;
	bottom: 0;
	left: 0;

	
	
}

.wordForm{
   font-size: 18px;
}
.mySubmit{
	text-align: right;
}

.myForms{

	text-align: left;
}



.logos{
	padding: 10px;
	width: 250px;
	position: absolute;

}

.banner{

	margin-top: 20px;
	margin-bottom: 20px;
	
}

.name{

	padding-left: 20px;
}

.myImage{

	padding-top: 20px;
}

.static-space{

	margin-top: 100px;
	margin-bottom: 100px;

}

.bdetails{
	display: none;

}

.kdetails{
	display: none;
}
.bedRoomDetails{
	display: none;
}
.bathRoomDetails{
	display: none;
}
.adetails{
	display: none;
}

.mdetails{
	display: none;
}

.lists{

	list-style-type: none;
}


.content-footer{
	color: white;
	font-size: .9em;
}

.low-nav li a{

color: white;


}


.low-nav li a:hover{

color: #000;


}


.wide-panel{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 100px;

	height: 100px;
	background: #34495E;
}

.white-headers{

	color: white;
	margin-right: 29.3em; 
	font-weight: bold;
}

.header-links{
	font-weight: bold;
}


.link-left{

	margin-left: 39em;
}

.quote-line{
	color: #FFEFD5;
}


@media screen and (max-width : 1000px ){

	.navi{
		display: none;
	}

	

		.phone_small{
	float: left;
		margin-left: 1.5%;
		
			margin-left: 55%;
}

}


@media screen and (max-width : 757px ){

	.navi{
		display: none;
	}

	.phone{
		float: left;
		margin-left: 1.5%;
		padding-top: 55px;

	}




}


@media screen and (max-width: 500px){




	.wide{
		height: 300px;
	}

	.content{
		padding-bottom: 300px;
	}


	.phone{
		display: none;

	}

}
