

.wordForm{
   font-size: 18px;
}
.mySubmit{
	text-align: right;
}

.myForms{

	text-align: left;
}



.logo{
	color: white;

}

.banner{

	margin-top: 20px;
}

.name{

	padding-left: 20px;
}

.myImage{

	padding-top: 20px;
}

.static-space{

	margin-top: 100px;

}

.bdetails{
	display: none;

}

.kdetails{
	display: none;
}
.bedRoomDetails{
	display: none;
}
.bathRoomDetails{
	display: none;
}
.adetails{
	display: none;
}

.mdetails{
	display: none;
}

.lists{

	list-style-type: none;
}