
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper{
	min-height: 100%;
	position: relative;
}

.content{

	padding: 10px;
	padding-bottom: 100px;
	
}


.wide{
	width: 100%;
	position: absolute;
	height: 100px;
	background-color: #efefef;
	bottom: 0;
	left: 0;
	
	
}

.wordForm{
   font-size: 18px;
}
.mySubmit{
	text-align: right;
}

.myForms{

	text-align: left;
}



.logo{
	color: white;

}

.banner{

	margin-top: 20px;
}

.name{

	padding-left: 20px;
}

.myImage{

	padding-top: 20px;
}

.static-space{

	margin-top: 100px;
	margin-bottom: 100px;

}

.bdetails{
	display: none;

}

.kdetails{
	display: none;
}
.bedRoomDetails{
	display: none;
}
.bathRoomDetails{
	display: none;
}
.adetails{
	display: none;
}

.mdetails{
	display: none;
}

.lists{

	list-style-type: none;
}