<div class="row">


	<div class="large-6 columns static-space">


<h4 class="subheader">Edit Your Rates</h4>



  <%=render 'form'%>

       </div>

	<%end%>

</div><!--end-->


	




		<div class="large-6 columns static-space">

		<h4 class="subheader" >Phone  &rarr;</h4>
		<h5 class="subheader panel">
			<p>Call us @(518)944-4804.</p>
			
			<p>Please contact us for any questions,concerns or a free consult.</p>
		</h5>


	</div>









</div>	
